/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.pagewrapper {
    display:flex;
    height: 100%;
    width: 100%;
}

.tasktracker {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height: 100%;
    width: 20%;
    gap:12px;
    padding: 20px;
    background-color: #021526;
    flex-shrink: 1;
    min-width: 100px;
}

.taskmenu {
    display:flex;
    flex-direction:column;
    gap: 8px;
}

.taskmenubuttons {
    display:flex;
    flex-direction:column;
    gap: 8px;
}

.projectmenu {
    display:flex;
    flex-direction:column;
    gap:8px;
}


.alltasksmenu {
    background-color: #180161;
    height: 100%;
    padding: 20px;
    gap: 12px;
    flex-shrink: 1;
    min-width: 0;
    flex: 1;
}

.taskwrapper {
    display:flex;
    gap: 8px;
    flex-wrap:wrap;
}

.task {
    display:flex;
    flex-direction:column;
    gap: 6px;
    border: 2px solid black;
    padding: 12px;
    background-color:#3C3D37;
    flex-grow: 1;
}

.taskheader {
    display:flex;
    justify-content:space-between;
    height: 5%;
    align-items:center;
}

h3 {
    color: #FFF4B7;
    font-size: 24px;
}

h1 {
    font-size: 24px;
}

button {
    transition-duration:0.4s;
}

button:hover {
    opacity:0.8;
}
h1, p, label {
    color:white;
}

.projectbutton {
    background-color: #3C3D37; 
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-align:start;
    width: 100%;
    max-width: 100%;
}

.addbutton {
    background-color: #006A67; 
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align:center;
    width: 100px;
}

.closebutton {
    background-color: red; 
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align:center;
    width: 100px;
}

.task .addbutton {
    width: 50px;
}

.tasknamewrapper {
    display:flex;
    justify-content:space-between;
    border-bottom: 2px solid #FFF4B7;
}

.deletebutton {
    background-color:red;
    color:white;
    text-align:center;
    border-radius: 8px;
}

.projectwrapper {
    display:flex;
    gap:4px;
}

.projects {
    display:flex;
    flex-direction:column;
    gap: 8px;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    z-index: 9;
    background-color:#3C3D37;
    border-radius: 8px;
  }

  form {
    display:flex;
    flex-direction:column;
    width: 320px;
    gap: 8px;
    padding: 16px;

  }
  
  .formbtnwrapper {
    display:flex;
    justify-content:center;
    gap: 12px;
  }

  .radiowrapper {
    display:flex;
    justify-content:space-evenly;
  }

  input[type=text] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=date] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }